
.brandWrapper{
    .slick-slide{
        padding: 20px 10px !important;
    }
}

.brand{
    background: linear-gradient(108.24deg, #FFEFED 7.25%, #FFF9F2 35.77%, #FFF0EE 62.56%, #FFF8F7 90.22%);
}
.singleBrand{
    height: 80px;
}