.banner-wrapper{
    min-height: 970px;
    @media (max-width:1400px) {
        padding: 200px 0 100px;
    }

    @media (max-width:1200px) {
        padding: 150px 0 100px;
    }

    @media (max-width:480px) {
        min-height: 880px;
    }
}
